.age{
    color: #AB2752;
    font-weight: bold;
    font-size: 20px;
}
.text{
    color: #ffffff;
}
.bmidiv{

}
#title{
    color: #AB2752;
    text-align: center;
    font-size: 50px;
}
.btHome {
    position: absolute;
    top: 8px;
    right: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btHome i {
    color: #78163C;
    transition: color 200ms ease-in-out;
}

.btHome i:hover {
    color: #89274D;
}


