.auto {
    background: black;
    height: 500px;
    overflow: auto;
    width: 900px;
    border: 3px solid #993455;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%,-50%);
}

.auto::-webkit-scrollbar {
    display: none;
}

.vid {
    padding-left: 45px;
}

.summary{
    font-weight: bold;
    font-size: 20px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    padding-bottom: 15px;
    padding-top: 15px;
    transition: background-color ease-in-out 200ms;
}

.summary:hover {
    background-color: #4d4d4d;
}

#title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    color: #AB2752;
    text-align: center;
    font-size: 80px;
    text:bold;
}

.btHomes {
    position: absolute;
    top: 8px;
    right: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btHomes i {
    color: #78163C;
    transition: color 200ms ease-in-out;
}

.btHomes i:hover {
    color: #89274D;
}
