

#body1{
    background-image: url("background.png");
    background-color: #000000;
    background-size: 100%;
}

.button{

    background-color: #AB2752 ;
    color: black;
    padding: 16px 50px;
    text-align: center;
    border: black;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 500px;
    border-radius: 16px;
    font-family: Monda;
}
.button:hover {
    background-color: #78163C;
    color: black;
}
.divButton{
    width: 100%;
    text-align: right;
}

#ü1{

    color: #AB2752;
    font-size: 70px;
    font-family: Roboto;
}
#info{

    color: white;
    text: bold;
    font-size: 32px;


}
#infoMehr{

    color: white;
    font-size: 28px;

}
