#body1{
    background-image: url("background.png");
    background-color: #000000;
    background-size: 100%;
}
.button{
    background-color: #AB2752;
    color: black;
    padding: 20px 90px;
    text-align: center;
    border: black;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    width: 400px;
    position: relative;
    top: 30%;
    font-family: "PT Sans", sans-serif;
}
.button:hover {
    background-color: #78163C;
    color: black;
}
#position{
    text-align: right;
    position: relative;
    right: 6%;
    top: 10%;
}
#ü1{
    color: #AB2752;
    font-size: 80px;
    font-family: "PT Sans", sans-serif
}
#info{
    position: relative;
    top: 10%;
    color: white;
    text: bold;
    font-size: 32px;
    font-family: "PT Sans", sans-serif
}
#infoMehr{
    position: relative;
    top: 5%;
    text-underline: white;
    color: white;
    font-size: 28px;
    font-family: "PT Sans", sans-serif;
}
.form-popup {
    display: none;
    position: fixed;
    right:900px;
    border: 3px solid black;
    z-index: 9;
    background-color: #AB2752;
    color: black;
    border-radius: 10px;
}
#loginForm{
    bottom: 35%;
}
#registerForm
{
    bottom: 3%;
}
.form-container {
    max-width: 300px;
    padding: 10px;
}
.form-container input[type=text], .form-container input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: lightgray;
    color: #AB2752;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container #goals{
    margin: 5px 0 22px 0;
}
.form-container #gender{
    margin: 5px 0 22px 0;
}
.form-container .cancel {
    background-color: black;
}
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.select-wrapper {
    width: 200px;
    position: relative;
}
.select-wrapper::before {
    font-family: fontello;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    pointer-events: none;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 40px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    outline: none;
    color: #666;
    background-color: lightgray;
}
select::-ms-expand {
    display: none;
}
select:focus::-ms-value {
    background-color: transparent;
}